body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}


@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

/* .botonFiltrosAlo {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

/* .botonFiltros:hover {
  background-color: #f2f2f2;
}  */

/* .botonFiltros svg {
  display: inline-block;
  vertical-align: middle;
} */
